

/* Header Section */

.header{
    background-color:bisque;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
    align-items: center;
}

.title{
    font-weight: 700;
    font-size: 45px;
    color: black;
}

.manubar{
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;
}

nav ul li a{
    text-decoration: none;
    color:darkgray;
}



.brand-details {
    justify-content: center;
    text-align: center;
}
.brand-name {
    color:#131313;
    font-weight: 700;
    font-size: 64px;

}
.brand-info {
    color:#727272;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    margin-bottom: 32px;
    margin-top: 30px;
    text-align: center;

}

.btn-explore {
    color:white;
    background-color:#FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius:5px;
    border: 0;
    margin-top: 32px;
    text-align: center;
    border: none;
}

.banner-img {
    display: flex;
    justify-content:center;
    margin:100px 100px 85px 100px;
    margin: 45px 0;
    
}
.banner-img img{
    width:80vw;
    margin-bottom: 50px;
}

/* Header Section End */
