*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* Header Section */

.header{
    background-color:bisque;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
    align-items: center;
}

.title{
    font-weight: 700;
    font-size: 45px;
    color: black;
}

.manubar{
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;
}

nav ul li a{
    text-decoration: none;
    color:#424242;
}



.brand-details {
    justify-content: center;
    text-align: center;
}
.brand-name {
    color:#131313;
    font-weight: 700;
    font-size: 64px;

}
.brand-info {
    color:#727272;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    margin-bottom: 32px;
    margin-top: 30px;
    text-align: center;

}

.btn-explore {
    color:white;
    background-color:#FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius:5px;
    border: 0;
    margin-top: 32px;
    text-align: center;
    border: none;
}

.banner-img {
    display: flex;
    justify-content:center;
    margin:100px 100px 85px 100px;
    margin: 45px 0;
    
}
.banner-img img{
    width:80vw;
    margin-bottom: 50px;
}


/* Header Section End */

.feature-container {
    width: 85%;
    margin: 0 auto;
}

.feature-content {
    display: flex;
    gap: 45px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-info .section-title {
    font-size:2.5rem;
    font-weight: 700;
}
.feature-info .section-title span:first-child {
    color:#727272;
    font-weight: 500;
}
.feature-info .section-title span:last-child {
    color: #FF900E;
}

.feature-info-2{

}













.footer{
    background-color:#FFF4E7; 
}
.footer-info{
    text-align: center;
    font-style: normal;
    font-size: 20px;
    color: #424242;
    padding: 50px 0;
}